/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

#hero {
    background-image: url('./Assets/food\ pict.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

#recipes {
    background-color: #f8f9fa;
    padding: 50px 20px;
}

.recipe {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

#about, #contact {
    background-color: #333;
    color: #fff;
    padding: 50px 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
